<body>

    <link rel="stylesheet" href="css/faq.less">

    <div class="titulo">
        <h1 style="position: relative; top:0">FAQ</h1>
    </div>


    <div class="container">
        <div class="item">
            <b>¿Realizan pedidos personalizados?</b><br>
            <p>
                ¡Sí! Podemos crear pasteles y postres personalizados para cualquier ocasión. Cuéntanos tu idea y trabajaremos contigo para que sea exactamente como lo imaginas.
            </p>
        </div>

        <div class="item">
            <b>¿Con cuánto tiempo de anticipación debo hacer un pedido?</b><br>
            <p>
                Recomendamos realizar los pedidos personalizados con al menos 3-5 días de anticipación. Para eventos grandes, como bodas, sugerimos reservar con varias semanas de antelación.
            </p>
        </div>

        <div class="item">
            <b>¿Tienen opciones sin gluten o para dietas especiales?</b><br>
            <p>
                Sí, ofrecemos opciones sin gluten, veganas y sin azúcar añadido. Por favor, avísanos al momento de hacer tu pedido para adaptar nuestras recetas a tus necesidades.
            </p>
        </div>

        <div class="item">
            <b>¿Hacen entregas a domicilio?</b><br>
            <p>
                ¡Claro! Contamos con servicio de entrega a domicilio en [zona/ciudad específica]. Consulta nuestras tarifas y disponibilidad al hacer tu pedido.
            </p>
        </div>
    </div>

  
    
</body>