 <footer>
        <div class="redes">
            <a href="https://www.facebook.com/profile.php?id=100063561044171&mibextid=ZbWKwL"
        target="_blank" > <img src="img/facebook.svg"></a>
        
        <a href="https://wa.me/32664812"
        target="_blank" ><img src="img/whatsapp.svg"></a>
        </div>

        <div class="contacto">
            <h4>Contactanos</h4>
            <ul>
                <li>Costado norte de terminal de buses, Olanchito, Honduras</li>
                <li>3266-4812</li>
            </ul>
        </div>
        
    </footer>   