<link rel="stylesheet" href="css/main.less">
<div class="carousel">
        <div class="carousel-track">
          <div class="img-main">
            <img src="img/main-img.jpg" alt="Imagen 1">
            <h1 class="titulo">Valeria's <br>Bakery</h1>
          </div>
          <div class="img-main">
            <img src="img/biscuit-cake-with-chocolate-drips.jpg" alt="Imagen 2">
            <h1 class="titulo">Pasteles para cada ocasión</h1>
          </div>
          <div class="img-main">
            <img src="img/oreo-cheescake.jpg" alt="Imagen 3">
            <h1 class="titulo">Sabores que enamoran</h1>
          </div>
        </div>
        <button class="carousel-button left">&lt;</button>
        <button class="carousel-button right">&gt;</button>
    </div>

    <div class="h3-container">
        <h3 class="h3-galeria-img">
            En Repostería Valeria, si lo imaginas lo creamos. <br>
        Ven con nosotros y tus recuerdos estarán llenos de sabor
        </h3>
    </div>

        
    <div class="galeria-img">

        <img src="img/img-pastel-1.jpg">
        <img src="img/img-pastel-2.jpg">
        <img class="galeria-img-last" src="img/img-pastel-3.jpg">

    </div>

    <div class="last-section">
        <div class="last-section-img">
            <img src="img/abuela-cocina.avif">
        </div>

        <div class="last-section-h4">
            <h4>
                Esta repostería es un legado familiar,
                todo empezó con el amor de mi abuela en la cocina y estamos aquí para que  te lleves una experiencia de viejos sabores caseros, en repostería Valeria queremos representar esa magia.
    
                Si quieres tener una celebración inolvidable, ven con nosotros y el sabor te durara para siempre.
            </h4>
        </div>
    </div>

    <div class="nav-img-container">

        <div class="nav-item">
            
            <div class="nav-item-img">
                <img src="img/pastelHelado.jpg">
            </div>
            <div class="nav-item-bg">
            </div>

            <div class="nav-item-h4">
                <a href="pasteleshelados.html" target="_blank">
                    Pasteles Helados
                </a>
            </div>

        </div>

        <div class="nav-item">

            <div class="nav-item-img">
                <img src="img/pastelNormal.jpg">
            </div>
            <div class="nav-item-bg">
            </div>

            <div class="nav-item-h4">
                <a href="pastelesnormales.html" target="_blank">
                    Pasteles Normales
                </a>
            </div>

        </div>

        <div class="nav-item">

            <div class="nav-item-img">
                <img src="img/pedidosPersonalizados.jpg">
            </div>
            <div class="nav-item-bg">
            </div>

            <div class="nav-item-h4">
                <a href="pastelespersonalisados.html" target="_blank">
                    Pasteles Personalizados
                </a>
            </div>

        </div>

    </div>