
<body>

    <link rel="stylesheet" href="css/main.less">


    <div class="carousel">
        <div class="carousel-track">
          <div class="img-main">
            <img src="img/helado1.jpg" alt="Imagen 1">
            <h1 class="titulo">OTROS <br>Bakery</h1>
     
          </div>
          <div class="img-main">
            <img src="img/helado2.jpg" alt="Imagen 2">
            <h1 class="titulo">OTROS <br>Bakery</h1>
     
          </div>
          <div class="img-main">
            <img src="img/helado3.jpg" alt="Imagen 3">
            <h1 class="titulo">OTROS <br>Bakery</h1>
        
          </div>
        </div>
        <button class="carousel-button left">&lt;</button>
        <button class="carousel-button right">&gt;</button>
    </div>

    <div class="coleccion">

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/oreo-cheescake.jpg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> CHEESCAKE DE OREO <br>
                        60 lp    
                   </h3>
        
                </div>
    
            </div>
        </div>

        

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/helado2.jpg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> pastel helado de vainilla y fresa con chispas de chocolate <br>
                        50 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel24.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> pedazo de flan <br>
                        40 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel26.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>rosquilla en miel <br> 
                        25 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel27.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> granita de café con syrup de chocolate o dulce de leche y con crema batida <br>
                        60 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel28.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>granita de chocolate y oreo <br>
                        40 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/imagen1.3.jpg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> torta de chocolate con nueces <br>
                        40 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel30.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> capuchino <br>
                        30 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel21.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> tiramisu <br>
                        40 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel48.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>churros españoles <br>
                        60 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel49.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> croissant relleno relleno de chocolate <br>
                        40 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel50.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> club sandwich de jamón <br> 
                        100 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel51.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>donas azucaradas <br>
                        25 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel52.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> Roles de Canela <br>
                        70 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel53.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> Tamalitos <br>
                        30 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

    </div>
   
    
</body>