
<body>
<link rel="stylesheet" href="css/tipospasteles.less">

    
    <div class="carousel">
        <div class="carousel-track">
          <div class="img-main">
            <img src="img/pastel45.jpg" alt="Imagen 1">
            <h1 class="titulo">PASTELES NORMALES <br>Bakery</h1>
            <!-- <h2 class="titulo-h2">Endulzamos tus momentos, uno a uno</h2> -->
          </div>
          <div class="img-main">
            <img src="img/pastel46.jpg" alt="Imagen 2">
            <h1 class="titulo">PASTELES NORMALES <br>Bakery</h1>
            <!-- <h2 class="titulo-h2">El toque dulce que mereces</h2> -->
          </div>
          <div class="img-main">
            <img src="img/pastel47.jpg" alt="Imagen 3">
            <h1 class="titulo">PASTELES NORMALES <br>Bakery</h1>
            <!-- <h2 class="titulo-h2">Recetas hechas con amor</h2> -->
          </div>
        </div>
        <button class="carousel-button left">&lt;</button>
        <button class="carousel-button right">&gt;</button>
    </div>

    <div class="coleccion">

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel22.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel de vainilla relleno de jalea <br>
                        250 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel12.jpeg">   
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> Pastel de vainilla relleno de mora con betun de matequilla <br>
                        300 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel23.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel de vainilla relleno de jalea piña y betun de mantequilla <br>
                        200 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel40.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel de vainilla relleno de jalea de mango y betun de huevo<br>
                        250 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel39.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> Pastel de fresa con betun mantequilla<br>
                        200 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel43.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> pastel de chocolate con relleno nutella y betun chocolate <br>
                        500 lp
                    </h3>
        
                </div>
    
            </div>
        </div>


        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel36.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel de vainilla relleno de betun de mantequilla con fresa <br>
                        200 lp
                    </h3>
        
                </div>
    
            </div>
        </div>



        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel37.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel de chocolate relleno de dulce de leche y betun de crema de chocolate <br>
                        450
                    </h3>
        
                </div>
    
            </div>
        </div>




        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel38.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel de chocolate relleno de jalea de mora con betun de vainilla <br>
                        400 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel41.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel de redvelvet relleno de queso crema y betun de queso crema <br> 
                        500 lp
                    </h3>
        
                </div>
    
            </div>
        </div>
        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel42.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel para fiestas de vainilla y betun de huevo<br>
                        550 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

      
    
</body>