
<body>    

    <div class="carousel">
        <div class="carousel-track">
          <div class="img-main">
            <img src="img/yaperdilacuenta9.jpg" alt="Imagen 1">
            <h1 class="titulo">PASTELES PERSONALIZADOS<br>Bakery</h1>
            <!-- <h2 class="titulo-h2">Endulzamos tus momentos, uno a uno</h2> -->
          </div>
          <div class="img-main">
            <img src="img/yaperdilacuento10.jpg" alt="Imagen 2">
            <h1 class="titulo">PASTELES PERSONALIZADOS<br>Bakery</h1>
            <!-- <h2 class="titulo-h2">El toque dulce que mereces</h2> -->
          </div>
          <div class="img-main">
            <img src="img/yaperdilacuenta11.jpg" alt="Imagen 3">
            <h1 class="titulo">PASTELES PERSONALIZADOS<br>Bakery</h1>
            <!-- <h2 class="titulo-h2">Recetas hechas con amor</h2> -->
          </div>
        </div>
        <button class="carousel-button left">&lt;</button>
        <button class="carousel-button right">&gt;</button>
    </div>

    <div class="coleccion">

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pasteles15.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
                    <h3></h3>
                    
                    
                        <form action="pastelespersonalisados.html" method="GET">
                            <label for="txtcolor">Colores</label>
                    <input id="txtcolor" name="txtcolores"
                        type="text" placeholder="color del betun" />
                        <label>Tamaño</label><br>
                        <label for="optPeque">Pequeño 300 lp</label>
                        <input type="radio" id="optPeque" name="Proporcion" value="PEQ" />
                            &nbsp;<br>
                        <label for="optmedia">Mediano 400 lp</label>
                        <input type="radio" id="optmedia" name="Proporcion" value="MED" />
                            &nbsp;<br>
                        <label for="optGran">Grande 500 lp</label>
                        <input type="radio" id="optGran" name="Proporcion" value="GAD" checked/>
                            &nbsp;

                        <br/><br>
                        <label>forma</label><br>
                        <label for="optCUA">Cuadrado</label>
                        <input type="radio" id="optCUA" name="Forma" value="QDO" />
                            &nbsp;<br> 
                        <label for="optRedo">Redondo</label>
                        <input type="radio" id="optRedo" name="Forma" value="ROD" />
                            &nbsp;<br>
                        <label for="optCora">Corazon</label>
                        <input type="radio" id="optCora" name="forma" value="CRZ" checked/>
                            &nbsp;

                            <br/><br/>
                            <label for="cmbTorta">Torta</label>
                            <select id="cmbTorta" name="cmbTorta">
                                <option value="VIN">vainilla</option>
                                <option value="COL" selected>chocolate</option>
                                <option value="RVV">Red velvet</option>
                            </select>
                            <br>
                            <label for="cmbRelle">Relleno</label>
                            <select id="cmbRelle" name="cmbRelle">
                                <option value="JLA">Jalea</option>
                                <option value="COL" selected>Chocolate</option>
                                <option value="DDL">Dulce de leche</option>
                                <option value="CDM">Crema de mantequilla</option>
                            </select>
                            <br>
                            <label for="cmbBetun">Betun</label>
                            <select id="cmbBetun" name="cmbBetu">
                                <option value="VIN">vainilla</option>
                                <option value="COL" selected>Chocolate</option>
                                <option value="HEV">Huevo</option>
                                <option value="MQA">Mantequilla</option>
                            </select> <br>
                            <button type="submit" name="btnEnviar">Enviar</button>
                        </form>
                    
                    
                    
                </div>
    
            </div>
        </div>

        

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/fondan.jpeg">   
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> 
                    </h3>
                    
                    

                    <form action="pastelespersonalisados.html" method="GET">
                        <label>Tamaño</label><br>
                        <label for="optPeque">Pequeño 600 lp</label>
                        <input type="radio" id="optPeque" name="Proporcion" value="PEQ" />
                            &nbsp;<br>
                        <label for="optmedia">Mediano 800 lp</label>
                        <input type="radio" id="optmedia" name="Proporcion" value="MED" />
                            &nbsp;<br>
                        <label for="optGran">Grande 1000 lp</label>
                        <input type="radio" id="optGran" name="Proporcion" value="GAD" checked/>
                            &nbsp;

                        <br/><br>
                        <label>forma</label><br>
                        <label for="optCUA">Cuadrado</label>
                        <input type="radio" id="optCUA" name="Forma" value="QDO" />
                            &nbsp;<br> 
                        <label for="optRedo">Redondo</label>
                        <input type="radio" id="optRedo" name="Forma" value="ROD" />
                            &nbsp;<br>
                        <label for="optCora">Corazon</label>
                        <input type="radio" id="optCora" name="forma" value="CRZ" checked/>
                            &nbsp;

                            <br/><br/>
                            <label for="cmbTorta">Torta</label>
                            <select id="cmbTorta" name="cmbTorta">
                                <option value="VIN">vainilla</option>
                                <option value="COL" selected>chocolate</option>
                                <option value="RVV">Red velvet</option>
                            </select>
                            <br/>
                            <label for="txtTema">Tema</label>
                            <input id="txtTema" name="txtTema"
                            type="text" placeholder="Tema de la imagen" />
                            <br/>
                            <label for="cmbRelle">Relleno</label>
                            <select id="cmbRelle" name="cmbRelle">
                                <option value="JLA">Jalea</option>
                                <option value="COL" selected>Chocolate</option>
                                <option value="DDL">Dulce de leche</option>
                                <option value="CDM">Crema de mantequilla</option>
                            </select>
                            <br>
                            <label for="txtcolor">Colores</label>
                            <input id="txtcolor" name="txtcolores"
                            type="text" placeholder="color del fondan" />
                            <br>
                            <button type="submit" name="btnEnviar">Enviar</button>
                        </form>


                </div>
    
            </div>
        </div>

        
        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/fondan2.jpeg">   
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> 
                    </h3>
                    <form action="pastelespersonalisados.html" method="GET">
                        <label>Tamaño</label><br>
                        <label for="optPeque">Pequeño 200 lp</label>
                        <input type="radio" id="optPeque" name="Proporcion" value="PEQ" />
                            &nbsp;<br>
                        <label for="optmedia">Mediano 350 lp</label>
                        <input type="radio" id="optmedia" name="Proporcion" value="MED" />
                            &nbsp;<br>
                        <label for="optGran">Grande 450 lp</label>
                        <input type="radio" id="optGran" name="Proporcion" value="GAD" checked/>
                            &nbsp;

                        <br/><br>
                        <label>forma</label><br>
                        <label for="optCUA">Cuadrado</label>
                        <input type="radio" id="optCUA" name="Forma" value="QDO" />
                            &nbsp;<br> 
                        <label for="optRedo">Redondo</label>
                        <input type="radio" id="optRedo" name="Forma" value="ROD" />
                            &nbsp;<br>
                        <label for="optCora">Corazon</label>
                        <input type="radio" id="optCora" name="forma" value="CRZ" checked/>
                            &nbsp;

                            <br/><br/>
                            <label for="cmbTorta">Torta</label>
                            <select id="cmbTorta" name="cmbTorta">
                                <option value="VIN">vainilla</option>
                                <option value="COL" selected>chocolate</option>
                                <option value="RVV">Red velvet</option>
                            </select>
                            <br/>
                            <label for="txtTema">Tema</label>
                            <input id="txtTema" name="txtTema"
                            type="text" placeholder="Tema de la imagen" />
                            <br/>
                            <label for="cmbRelle">Relleno</label>
                            <select id="cmbRelle" name="cmbRelle">
                                <option value="JLA">Jalea</option>
                                <option value="COL" selected>Chocolate</option>
                                <option value="DDL">Dulce de leche</option>
                                <option value="CDM">Crema de mantequilla</option>
                            </select>
                            <br>
                            <label for="txtcolor">Colores</label>
                            <input id="txtcolor" name="txtcolores"
                            type="text" placeholder="color del fondan" />
                            <br>
                            <button type="submit" name="btnEnviar">Enviar</button>
                        </form>
        
                </div>
    
            </div>
        </div>

        
        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/yaperdilacuenta.jpeg">   
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> 
                    </h3>

                        
                        
                        



                        <form action="pastelespersonalisados.html" method="GET">
                            <label>Tamaño</label><br>
                            <label for="optPeque">Pequeño 300 lp</label>
                            <input type="radio" id="optPeque" name="Proporcion" value="PEQ" />
                                &nbsp;<br>
                            <label for="optmedia">Mediano 400 lp</label>
                            <input type="radio" id="optmedia" name="Proporcion" value="MED" />
                                &nbsp;<br>
                            <label for="optGran">Grande 500 lp</label>
                            <input type="radio" id="optGran" name="Proporcion" value="GAD" checked/>
                                &nbsp;
    
                            <br/><br>
                            <label>forma</label><br>
                            <label for="optCUA">Cuadrado</label>
                            <input type="radio" id="optCUA" name="Forma" value="QDO" />
                                &nbsp;<br> 
                            <label for="optRedo">Redondo</label>
                            <input type="radio" id="optRedo" name="Forma" value="ROD" />
                                &nbsp;<br>
                            <label for="optCora">Corazon</label>
                            <input type="radio" id="optCora" name="forma" value="CRZ" checked/>
                                &nbsp;
    
                                <br/><br/>
                                <label for="cmbTorta">Torta</label>
                                <select id="cmbTorta" name="cmbTorta">
                                    <option value="VIN">vainilla</option>
                                    <option value="COL" selected>chocolate</option>
                                    <option value="RVV">Red velvet</option>
                                </select>
                                <br/>
                                <label for="txtTema">Tema</label>
                                <input id="txtTema" name="txtTema"
                                type="text" placeholder="Tema de la imagen" />
                                <br/>
                                <label for="cmbRelle">Relleno</label>
                                <select id="cmbRelle" name="cmbRelle">
                                    <option value="JLA">Jalea</option>
                                    <option value="COL" selected>Chocolate</option>
                                    <option value="DDL">Dulce de leche</option>
                                    <option value="CDM">Crema de mantequilla</option>
                                </select>
                                <br>
                                <label for="cmbBetun">Betun</label>
                                <select id="cmbBetun" name="cmbBetu">
                                    <option value="VIN">vainilla</option>
                                    <option value="COL" selected>Chocolate</option>
                                    <option value="HEV">Huevo</option>
                                    <option value="MQA">Mantequilla</option>
                                </select> <br>
                                <button type="submit" name="btnEnviar">Enviar</button>
                            </form>




        
                </div>
    
            </div>
        </div>

        
        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/yaperdilacuenta2.jpeg">   
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> 
                    </h3>

                    

                    <form action="pastelespersonalisados.html" method="GET">
                        <label>Tamaño</label><br>
                        <label for="optPeque">Pequeño 300 lp</label>
                        <input type="radio" id="optPeque" name="Proporcion" value="PEQ" />
                            &nbsp;<br>
                        <label for="optmedia">Mediano 400 lp</label>
                        <input type="radio" id="optmedia" name="Proporcion" value="MED" />
                            &nbsp;<br>
                        <label for="optGran">Grande 500 lp</label>
                        <input type="radio" id="optGran" name="Proporcion" value="GAD" checked/>
                            &nbsp;

                        <br/><br>
                        <label>forma</label><br>
                        <label for="optCUA">Cuadrado</label>
                        <input type="radio" id="optCUA" name="Forma" value="QDO" />
                            &nbsp;<br> 
                        <label for="optRedo">Redondo</label>
                        <input type="radio" id="optRedo" name="Forma" value="ROD" />
                            &nbsp;<br>
                        <label for="optCora">Corazon</label>
                        <input type="radio" id="optCora" name="forma" value="CRZ" checked/>
                            &nbsp;

                            <br/><br/>
                            <label for="cmbTorta">Torta</label>
                            <select id="cmbTorta" name="cmbTorta">
                                <option value="VIN">vainilla</option>
                                <option value="COL" selected>chocolate</option>
                                <option value="RVV">Red velvet</option>
                            </select>
                            <br/>
                            <label for="txtTema">Tema</label>
                            <input id="txtTema" name="txtTema"
                            type="text" placeholder="Tema de la imagen" />
                            <br/>
                            <label for="cmbRelle">Relleno</label>
                            <select id="cmbRelle" name="cmbRelle">
                                <option value="JLA">Jalea</option>
                                <option value="COL" selected>Chocolate</option>
                                <option value="DDL">Dulce de leche</option>
                                <option value="CDM">Crema de mantequilla</option>
                            </select>
                            <br>
                            <label for="cmbBetun">Betun</label>
                            <select id="cmbBetun" name="cmbBetu">
                                <option value="VIN">vainilla</option>
                                <option value="COL" selected>Chocolate</option>
                                <option value="HEV">Huevo</option>
                                <option value="MQA">Mantequilla</option>
                            </select> <br>
                            <button type="submit" name="btnEnviar">Enviar</button>
                        </form>

        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/yaperdilacuenta3.jpeg">   
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> 
                    </h3>
                    

                    <form action="pastelespersonalisados.html" method="GET">
                        <label>Tamaño</label><br>
                        <label for="optPeque">Pequeño 300 lp</label>
                        <input type="radio" id="optPeque" name="Proporcion" value="PEQ" />
                            &nbsp;<br>
                        <label for="optmedia">Mediano 400 lp</label>
                        <input type="radio" id="optmedia" name="Proporcion" value="MED" />
                            &nbsp;<br>
                        <label for="optGran">Grande 500 lp</label>
                        <input type="radio" id="optGran" name="Proporcion" value="GAD" checked/>
                            &nbsp;

                        <br/><br>
                        <label>forma</label><br>
                        <label for="optCUA">Cuadrado</label>
                        <input type="radio" id="optCUA" name="Forma" value="QDO" />
                            &nbsp;<br> 
                        <label for="optRedo">Redondo</label>
                        <input type="radio" id="optRedo" name="Forma" value="ROD" />
                            &nbsp;<br>
                        <label for="optCora">Corazon</label>
                        <input type="radio" id="optCora" name="forma" value="CRZ" checked/>
                            &nbsp;

                            <br/><br/>
                            <label for="cmbTorta">Torta</label>
                            <select id="cmbTorta" name="cmbTorta">
                                <option value="VIN">vainilla</option>
                                <option value="COL" selected>chocolate</option>
                                <option value="RVV">Red velvet</option>
                            </select>
                            <br/>
                            <label for="txtTema">Tema</label>
                            <input id="txtTema" name="txtTema"
                            type="text" placeholder="Tema de la imagen" />
                            <br/>
                            <label for="cmbRelle">Relleno</label>
                            <select id="cmbRelle" name="cmbRelle">
                                <option value="JLA">Jalea</option>
                                <option value="COL" selected>Chocolate</option>
                                <option value="DDL">Dulce de leche</option>
                                <option value="CDM">Crema de mantequilla</option>
                            </select>
                            <br>
                            <label for="cmbBetun">Betun</label>
                            <select id="cmbBetun" name="cmbBetu">
                                <option value="VIN">vainilla</option>
                                <option value="COL" selected>Chocolate</option>
                                <option value="HEV">Huevo</option>
                                <option value="MQA">Mantequilla</option>
                            </select> <br>
                            <button type="submit" name="btnEnviar">Enviar</button>
                        </form>


                </div>
    
            </div>
        </div>
       
       
        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/yaperdilacuenta5.jpeg">   
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> 
                    </h3>
                    <form action="pastelespersonalisados.html" method="GET">
                        <label for="txtcolor">Colores</label>
                <input id="txtcolor" name="txtcolores"
                    type="text" placeholder="color del betun" />
                    <label>Tamaño</label><br>
                    <label for="optPeque">Pequeño 300 lp</label>
                    <input type="radio" id="optPeque" name="Proporcion" value="PEQ" />
                        &nbsp;<br>
                    <label for="optmedia">Mediano 400 lp</label>
                    <input type="radio" id="optmedia" name="Proporcion" value="MED" />
                        &nbsp;<br>
                    <label for="optGran">Grande 500 lp</label>
                    <input type="radio" id="optGran" name="Proporcion" value="GAD" checked/>
                        &nbsp;

                    <br/><br>
                    <label>forma</label><br>
                    <label for="optCUA">Cuadrado</label>
                    <input type="radio" id="optCUA" name="Forma" value="QDO" />
                        &nbsp;<br> 
                    <label for="optRedo">Redondo</label>
                    <input type="radio" id="optRedo" name="Forma" value="ROD" />
                        &nbsp;<br>
                    <label for="optCora">Corazon</label>
                    <input type="radio" id="optCora" name="forma" value="CRZ" checked/>
                        &nbsp;

                        <br/><br/>
                        <label for="cmbTorta">Torta</label>
                        <select id="cmbTorta" name="cmbTorta">
                            <option value="VIN">vainilla</option>
                            <option value="COL" selected>chocolate</option>
                            <option value="RVV">Red velvet</option>
                        </select>
                        <br>
                        <label for="cmbRelle">Relleno</label>
                        <select id="cmbRelle" name="cmbRelle">
                            <option value="JLA">Jalea</option>
                            <option value="COL" selected>Chocolate</option>
                            <option value="DDL">Dulce de leche</option>
                            <option value="CDM">Crema de mantequilla</option>
                        </select>
                        <br>
                        <label for="cmbBetun">Betun</label>
                        <select id="cmbBetun" name="cmbBetu">
                            <option value="VIN">vainilla</option>
                            <option value="COL" selected>Chocolate</option>
                            <option value="HEV">Huevo</option>
                            <option value="MQA">Mantequilla</option>
                        </select> <br>
                        <button type="submit" name="btnEnviar">Enviar</button>
                    </form>
                

                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/yaperdilacuenta6.jpeg">   
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> 
                    </h3>

                    


                    <form action="pastelespersonalisados.html" method="GET">
                        <label>Tamaño</label><br>
                        <label for="optPeque">Pequeño 300 lp</label>
                        <input type="radio" id="optPeque" name="Proporcion" value="PEQ" />
                            &nbsp;<br>
                        <label for="optmedia">Mediano 400 lp</label>
                        <input type="radio" id="optmedia" name="Proporcion" value="MED" />
                            &nbsp;<br>
                        <label for="optGran">Grande 500 lp</label>
                        <input type="radio" id="optGran" name="Proporcion" value="GAD" checked/>
                            &nbsp;

                        <br/><br>
                        <label>forma</label><br>
                        <label for="optCUA">Cuadrado</label>
                        <input type="radio" id="optCUA" name="Forma" value="QDO" />
                            &nbsp;<br> 
                        <label for="optRedo">Redondo</label>
                        <input type="radio" id="optRedo" name="Forma" value="ROD" />
                            &nbsp;<br>
                        <label for="optCora">Corazon</label>
                        <input type="radio" id="optCora" name="forma" value="CRZ" checked/>
                            &nbsp;

                            <br/><br/>
                            <label for="cmbTorta">Torta</label>
                            <select id="cmbTorta" name="cmbTorta">
                                <option value="VIN">vainilla</option>
                                <option value="COL" selected>chocolate</option>
                                <option value="RVV">Red velvet</option>
                            </select>
                            <br/>
                            <label for="txtTop">Topping</label>
                            <input id="txtTop" name="txtToping"
                            type="text" placeholder="Tema de la imagen" />
                            <br/>
                            <label for="cmbRelle">Relleno</label>
                            <select id="cmbRelle" name="cmbRelle">
                                <option value="JLA">Jalea</option>
                                <option value="COL" selected>Chocolate</option>
                                <option value="DDL">Dulce de leche</option>
                                <option value="CDM">Crema de mantequilla</option>
                            </select>
                            <br>
                            <label for="cmbBetun">Betun</label>
                            <select id="cmbBetun" name="cmbBetu">
                                <option value="VIN">vainilla</option>
                                <option value="COL" selected>Chocolate</option>
                                <option value="HEV">Huevo</option>
                                <option value="MQA">Mantequilla</option>
                            </select> <br>
                            <button type="submit" name="btnEnviar">Enviar</button>
                        </form>


        
                </div>
    
            </div>
        </div>


        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/yaperdilacuenta8.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
                    <h3></h3>
                    
                    
                        <form action="pastelespersonalisados.html" method="GET">
                            <label for="txtcolor">Colores</label>
                    <input id="txtcolor" name="txtcolores"
                        type="text" placeholder="color del betun" />
                        <label>Tamaño</label><br>
                        <label for="optPeque">Pequeño 300 lp</label>
                        <input type="radio" id="optPeque" name="Proporcion" value="PEQ" />
                            &nbsp;<br>
                        <label for="optmedia">Mediano 400 lp</label>
                        <input type="radio" id="optmedia" name="Proporcion" value="MED" />
                            &nbsp;<br>
                        <label for="optGran">Grande 500 lp</label>
                        <input type="radio" id="optGran" name="Proporcion" value="GAD" checked/>
                            &nbsp;

                        <br>
                        <label>forma</label><br>
                        <label for="optCUA">Cuadrado</label>
                        <input type="radio" id="optCUA" name="Forma" value="QDO" />
                            &nbsp;<br> 
                        <label for="optRedo">Redondo</label>
                        <input type="radio" id="optRedo" name="Forma" value="ROD" />
                            &nbsp;<br>
                        <label for="optCora">Corazon</label>
                        <input type="radio" id="optCora" name="forma" value="CRZ" checked/>
                            &nbsp;

                            <br/>
                            <label for="txtTema">tema del pastel</label>
                    <input id="txtTema" name="txtTEMA"
                        type="text" placeholder="color del betun" /> <br>
                            <label for="cmbTorta">Torta</label>
                            <select id="cmbTorta" name="cmbTorta">
                                <option value="VIN">vainilla</option>
                                <option value="COL" selected>chocolate</option>
                                <option value="RVV">Red velvet</option>
                            </select>
                            <br>
                            <label for="cmbRelle">Relleno</label>
                            <select id="cmbRelle" name="cmbRelle">
                                <option value="JLA">Jalea</option>
                                <option value="COL" selected>Chocolate</option>
                                <option value="DDL">Dulce de leche</option>
                                <option value="CDM">Crema de mantequilla</option>
                            </select>
                            <br>
                            <label for="cmbBetun">Betun</label>
                            <select id="cmbBetun" name="cmbBetu">
                                <option value="VIN">vainilla</option>
                                <option value="COL" selected>Chocolate</option>
                                <option value="HEV">Huevo</option>
                                <option value="MQA">Mantequilla</option>
                            </select> <br>
                            <button type="submit" name="btnEnviar">Enviar</button>
                        </form>
                    
                    
                    
                </div>
    
            </div>
        </div>
</body>