<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="css/tipospasteles.less">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Italiana&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cinzel:wght@400..900&family=Italiana&family=Limelight&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <title>Pasteles Helados</title>
</head>
<body>

    
    <script src="js/tipospasteles.js"></script>




    <div class="carousel">
        <div class="carousel-track">
          <div class="img-main">
            <img src="img/helado1.jpg" alt="Imagen 1">
            <h1 class="titulo">PASTELES HELADOS <br>Bakery</h1>
            <!-- <h2 class="titulo-h2">Endulzamos tus momentos, uno a uno</h2> -->
          </div>
          <div class="img-main">
            <img src="img/helado2.jpg" alt="Imagen 2">
            <h1 class="titulo">PASTELES HELADOS <br>Bakery</h1>
            <!-- <h2 class="titulo-h2">El toque dulce que mereces</h2> -->
          </div>
          <div class="img-main">
            <img src="img/helado3.jpg" alt="Imagen 3">
            <h1 class="titulo">PASTELES HELADOS <br>Bakery</h1>
            <!-- <h2 class="titulo-h2">Recetas hechas con amor</h2> -->
          </div>
        </div>
        <button class="carousel-button left">&lt;</button>
        <button class="carousel-button right">&gt;</button>
    </div>

    <div class="coleccion">

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastelHelado.jpg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel de chocolate con vainilla <br>
                        500 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/imagen18.jpeg">   
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> Pastel de vainilla con relleno de dulce de leche y frutas <br>
                        550 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel14.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel de dulce de leche <br>
                        400 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel19.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel de crema y fresas <br>
                        700 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/helado3.jpg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3> Napolitano de helado y frutas<br>
                        450 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel10.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel de vainilla con relleno de piña y frutas <br>
                        600 lp
                    </h3>
        
                </div>
    
            </div>
        </div>


        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel21.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel tiramusu <br>
                        300 lp
                    </h3>
        
                </div>
    
            </div>
        </div>



        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel31.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel tres leches <br>
                        300
                    </h3>
        
                </div>
    
            </div>
        </div>




        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel32.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>Pastel de oreo <br>
                        450 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel33.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>cheescake de fresa <br> 
                        350 lp
                    </h3>
        
                </div>
    
            </div>
        </div>
        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel34.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>cheescake de frutas <br>
                        350 lp
                    </h3>
        
                </div>
    
            </div>
        </div>

        <div class="item-container">
            <div class="item">

                <div class="item-img">
                    <img src="img/pastel35.jpeg">
                </div>
    
                <div class="tarjeta-borde">
                    <img src="img/flecha-abajo.svg">
                </div>
                <div class="tarjeta">
    
                    <h3>pie de limon y crema <br>
                        350 lp
                    </h3>
        
                </div>
    
            </div>
        </div>
    
</body>
</html>