<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/menu.less">
    <link rel="stylesheet" href="css/reseñas.less">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cinzel:wght@400..900&family=Italiana&family=Limelight&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <title>Reseñas</title>
</head>
<body>
    
    <script src="js/menu.js"></script>



    <div class="titulo" style="position: relative;">
        <h1>Reseñas</h1>
        <h2>""</h2>
    </div>

    <div class="container">
        <div class="item">
            <div class="item-review">
                <p style="color: #000">
                    "El servicio es excelente y el personal muy amable. Además, los postres no solo son hermosos, sino que saben igual de increíbles. Perfecto para cualquier ocasión especial."
                </p>
            </div>

            <div class="item-stars">
                <img src="img/star-fill.svg">
                <img src="img/star-fill.svg">
                <img src="img/star-fill.svg">
                <img src="img/star-fill.svg">
            </div>
        </div>

        <div class="item">
            <div class="item-review">
                <p style="color: #000">
                    "Los pasteles son ricos, pero creo que podrían mejorar la variedad. Además, la atención fue un poco lenta. Es una buena opción, pero hay margen para mejorar."
                </p>
            </div>

            <div class="item-stars">
                <img src="img/star-fill.svg">
                <img src="img/star-fill.svg">
                <img src="img/star-fill.svg">
            </div>
        </div>

        <div class="item">
            <div class="item-review">
                <p style="color: #000">
                    "Me encantó el sabor de sus tartas, especialmente la de frutos rojos. La única razón por la que no doy cinco estrellas es que había algo de espera, pero valió la pena. Volveré seguro."
                </p>
            </div>

            <div class="item-stars">
                <img src="img/star-fill.svg">
                <img src="img/star-fill.svg">
                <img src="img/star-fill.svg">
                <img src="img/star-half.svg">
            </div>
        </div>

        <div class="item">
            <div class="item-review">
                <p style="color: #000">
                    "Los pasteles están buenos, pero me pareció un poco caro en comparación con otras pastelerías. Aunque la calidad es notable, no estoy seguro de que justifique el precio."
                </p>
            </div>

            <div class="item-stars">
                <img src="img/star-fill.svg">
                <img src="img/star-fill.svg">
                <img src="img/star-half.svg">
            </div>
        </div>

        <div class="item">
            <div class="item-review">
                <p style="color: #000">
                    "¡La mejor pastelería de la ciudad! Los pasteles son deliciosos y siempre frescos. Encargué uno personalizado para un cumpleaños, y superaron mis expectativas. ¡Recomendadísimos!"
                </p>
            </div>

            <div class="item-stars">
                <img src="img/star-fill.svg">
                <img src="img/star-fill.svg">
                <img src="img/star-fill.svg">
                <img src="img/star-fill.svg">
                <img src="img/star-half.svg">
            </div>
        </div>

    </div>



</body>
</html>