
<body>
<link rel="stylesheet" href="css/sobrenosotros.less">


    <div class="titulo-container">
        <div class="titulo-img">
            <img src="img/postres-collage.jpg">
        </div>

        <div class="titulo">
            <h1>Sobre Nosotros</h1>
        </div>
    </div>


    <div class="container">
        <div class="container-p">
            <p>
                En Pasteleria Valeria, nos apasiona endulzar los momentos más especiales de tu vida. Desde hace númerosos años, nos dedicamos a crear postres y pasteles únicos, elaborados con los mejores ingredientes y una pizca de amor. Nuestro equipo de pasteleros combina tradición y creatividad para ofrecerte una experiencia dulce e inolvidable. 
            </p>
        </div>

        <div class="container-img">
            <img src="img/sobreNosotros.jpg">
        </div>
    </div>

    
</body>