<body>
    <link rel="stylesheet" href="css/main.less">

    <div class="contlogo">
        <img class ="logo" src="img/logo.png">
    </div>

    <div class="Titulo">
        <h3> SUCURSALES </h3>
    </div>

    <div class="ubicacion">
        <a href="https://www.google.hn/maps/place/Reposter%C3%ADa+Valeria/@15.4827901,-86.5708788,17.5z/data=!4m16!1m9!3m8!1s0x8f696d7889df3703:0xb0de06038e6b3676!2sReposter%C3%ADa+Valeria!8m2!3d15.4826375!4d-86.5701721!9m1!1b1!16s%2Fg%2F11hzpc8b3p!3m5!1s0x8f696d7889df3703:0xb0de06038e6b3676!8m2!3d15.4826375!4d-86.5701721!16s%2Fg%2F11hzpc8b3p?hl=es&entry=ttu&g_ep=EgoyMDI0MTIwMS4xIKXMDSoASAFQAw%3D%3D"
         target="_blank"><img src="img/sucursal1.png"></a>
         <h4>LUNES - SABADO</h4>
         <h4>8:00am - 7:00pm</h4><br>
         <h4>DOMINGO</h4>
         <h4>10:00am - 12:00pm</h4>
    </div>

</body>